.square {
    display: inline-block;
    width: 200px;
    
    background: red;
    color: white;
}
  
/* Start of animations */
.slide {
    position: absolute;
    animation: slide 4s infinite linear;
}

.main-content {
    min-height: 100vh;
}

/* animacion izquierda derecha */
@keyframes slide {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(100%, 0);
    }
}